<div class="sub-title-container">
  <a class="anchor" name="about"></a>
  <h2 class="sub-title about-title">About</h2>
  <div class="section-line"></div>
</div>
<div class="about-text-container">
  <img class="profile-pic" src="../images/kendra.jpg" />
  <p class="about-text">
    I'm a Full Stack web developer based in Denver, CO and currently enrolled in
    Galvanize's Web Development Immersive program at Denver - Platte.
    Through many years of studying classical piano I have learned the value of
    dedicated practice, mastering techniques, and devotion to detail. I apply
    the same mindset to coding with a diligent but playful and creative spirit, and a thirst for new challenges!
    I love being part of a community that shares ideas and works together to create amazing products, and I’m excited to join a team that values agile collaboration and continual learning.
  </p>
</div>
