<div class="sub-title-container">
  <a class="anchor" name="contact"></a>
  <h2 class="sub-title contact-title">Contact</h2>
  <div class="section-line"></div>
</div>
<div class="contact-main">
  <div class="contact-wrapper">
    <img class="email" src="../images/envelope.svg" />
    <p class="email-text">
      kendralyndon@gmail.com
    </p>
  </div>
  <div class="contact-wrapper">
    <img class="linkedin" src="../images/linkedin-logo.svg" />
    <p class="linkedin-text">
      linkedin.com/in/kendralyndon
    </p>
  </div>
  <div class="contact-wrapper">
    <img class="github" src="../images/github-logo.svg" />
    <p class="github-text">
      github.com/KendraLyndon
    </p>
  </div>
</div>
