.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $off-white;
  height: 90vh;
}

.home-title {
 font-size: 100px;
 font-family: $font-fancy;
 margin-top: 45px;
 color: $maroon;
 text-align: center;
 display: inline;
 margin-left: 25px;
 margin-right: 25px;
}

.home-sub-title {
margin-top: 25px;
font-size: 45px;
font-weight: lighter;
color: $dark-grey;
}

@media (max-width:1200px){
  .home-title {
    font-size: 80px;
  }
}

@media (max-width:1050px){
  .home-title {
    font-size: 70px;
  }
}

@media (max-width:825px){
  .home-title {
    display: block;
    margin: 0 auto 0 auto;
    font-size: 70px;
  }
  .home-sub-title {
  font-size: 30px;
  color: $dark-grey;
  }
}

@media (max-width:500px){
  .home-title {
    font-size: 60px;
  }
}

@media (max-width:320px){
  .home-title {
    font-size: 50px;
  }
}
