.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $off-white;
  height: 90vh;
}

.home-title {
 font-size: 110px;
 font-family: $font-fancy;
 margin-top: 45px;
 color: $maroon;
 text-align: center;
}

.home-sub-title {
margin-top: 25px;
font-size: 45px;
color: $dark-grey;
}

@media (max-width:1200px){
  .home-title {
    font-size: 90px;
  }
}

@media (max-width:600px){
  .home-title {
    font-size: 70px;
  }
  .home-sub-title {
  font-size: 30px;
  color: $dark-grey;
  }
}
