.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-div {
  margin-top: 5em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project-info {
  z-index: 200;
  width: 50%;
  background: #fff;
  padding: 16px;
  line-height: 1.2em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.CoffeeSnob {
  .project-info {
    position: absolute;
    top: 16px;
    left: 16px;
  }
}

.Shoptacular {
  .project-info {
    position: absolute;
    top: 16px;
    left: 16px;
  }
}

.title {
  font-size: 30px;
  color: $dark-grey;
  font-family: $font-fancy;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: 635px;
  filter: brightness(0.8);
}

.first {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  .project-info {
    width: 350px;
    margin-left: 15px;
  }
  .image-container {
    order: -1;
  }
}

.phone-img {
  height: 600px;
}

#pic-Pianissimo {
  height: 475px;
  width: auto;
  position: absolute;
  top: 63px;
  right: 18px;
}

.tech-links-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.tech {
  margin-bottom: 10px;
  font-size: 16px;
  width: 95%;
}

.blurb {
  text-align: justify;
  margin: 15px 0 10px;
  font-size: 18px;
}

.project-link {
  text-decoration: none;
  color: $maroon;
  font-size: 16px;
  font-weight: bolder;
  margin-right: 10px;

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
}

@media (max-width:850px){
  .first {
    flex-direction: column;
    align-items: center;
  }
  .project-div{
    margin-top: 40px;
  }
  .first {
    .project-info {
      margin-top: 20px;
    }
  }
}

@media (max-width:670px){
  .project-image {
    width: 100%;
  }
  .project-div {
    width: 90%;
  }
}

@media (max-width:560px){
  .title, .project-link, .tech {
    padding-left: 5px !important;
  }
  .blurb {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .title {
    font-size: 25px;
  }
  .blurb {
    font-size: 15px;
    margin: 10px 0 5px;
  }
  .tech {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .first {
    .project-info {
      width: 90%;
      margin-left: 0;
    }
  }
  .project-info {
    width: 85%;
    padding: 15px 10px 10px 10px;
  }
  .phone-img {
    height: 530px;
  }
  #pic-Pianissimo {
    height: 418px;
    top: 56px;
    right: 17px;
  }
}

@media (max-width:350px){
  .project-info {
    width: 82%;
  }
}
