.tech-skills-container {
  width: 72vw;
  margin: 10vh auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.list {
  font-size: 22px;
  font-family: $font-fancy;
  color: $maroon;
  li {
    font-size: 18px;
    margin-bottom: 8px;
    list-style: none;
    &:first-child {
      margin-top: 20px;
    }
  }
}

@media (max-width:700px){
  .tech-skills-container {
    margin-top: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ul {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:900px){
  .tech-skills-container {
      width: 90vw;
  }
}
