.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 90vh; }

.home-title {
  font-size: 100px;
  font-family: "Syncopate", sans-serif;
  margin-top: 45px;
  color: #A64D79;
  text-align: center;
  display: inline;
  margin-left: 25px;
  margin-right: 25px; }

.home-sub-title {
  margin-top: 25px;
  font-size: 45px;
  font-weight: lighter;
  color: #2D3136; }

@media (max-width: 1200px) {
  .home-title {
    font-size: 80px; } }
@media (max-width: 1050px) {
  .home-title {
    font-size: 70px; } }
@media (max-width: 825px) {
  .home-title {
    display: block;
    margin: 0 auto 0 auto;
    font-size: 70px; }

  .home-sub-title {
    font-size: 30px;
    color: #2D3136; } }
@media (max-width: 500px) {
  .home-title {
    font-size: 60px; } }
@media (max-width: 320px) {
  .home-title {
    font-size: 50px; } }
.about-text-container {
  width: 70%;
  margin: 10vh auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.profile-pic {
  width: 220px;
  height: 220px;
  border-radius: 50%; }

.about-text {
  width: 65%;
  line-height: 1.5em;
  font-size: 20px;
  text-align: justify; }

@media (max-width: 800px) {
  .about-text-container {
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 30px; }

  .about-text {
    width: 100%;
    margin-top: 15px; } }
@media (max-width: 560px) {
  .about-text {
    font-size: 18px; } }
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.project-div {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.project-info {
  z-index: 200;
  width: 50%;
  background: #fff;
  padding: 16px;
  line-height: 1.2em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }

.CodeMan .project-info {
  position: absolute;
  top: 16px;
  left: 16px; }

.CoffeeSnob .project-info {
  position: absolute;
  top: 16px;
  left: 16px; }

.Shoptacular .project-info {
  position: absolute;
  top: 16px;
  left: 16px; }

.title {
  font-size: 30px;
  color: #2D3136;
  font-family: "Syncopate", sans-serif; }

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.project-image {
  width: 635px;
  filter: brightness(0.8); }

.first {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }
  .first .project-info {
    width: 350px;
    margin-left: 15px; }
  .first .image-container {
    order: -1; }

.phone-img {
  height: 600px; }

#pic-Pianissimo {
  height: 475px;
  width: auto;
  position: absolute;
  top: 63px;
  right: 18px; }

.tech-links-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: flex-end; }

.tech {
  margin-bottom: 10px;
  font-size: 16px;
  width: 95%; }

.blurb {
  text-align: justify;
  margin: 15px 0 10px;
  font-size: 18px; }

.project-link {
  text-decoration: none;
  color: #A64D79;
  font-size: 16px;
  font-weight: bolder;
  margin-right: 10px; }
  .project-link .icon {
    width: 30px;
    height: 30px;
    margin-right: 8px; }

@media (max-width: 850px) {
  .first {
    flex-direction: column;
    align-items: center; }

  .project-div {
    margin-top: 40px; }

  .first .project-info {
    margin-top: 20px; } }
@media (max-width: 670px) {
  .project-image {
    width: 100%; }

  .project-div {
    width: 90%; } }
@media (max-width: 560px) {
  .title, .project-link, .tech {
    padding-left: 5px !important; }

  .blurb {
    padding-left: 5px !important;
    padding-right: 5px !important; }

  .title {
    font-size: 25px; }

  .blurb {
    font-size: 15px;
    margin: 10px 0 5px; }

  .tech {
    font-size: 14px;
    margin-bottom: 5px; }

  .first .project-info {
    width: 90%;
    margin-left: 0; }

  .project-info {
    width: 85%;
    padding: 15px 10px 10px 10px; }

  .phone-img {
    height: 530px; }

  #pic-Pianissimo {
    height: 418px;
    top: 56px;
    right: 17px; } }
@media (max-width: 350px) {
  .project-info {
    width: 82%; } }
.tech-skills-container {
  width: 72vw;
  margin: 10vh auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.skills-list {
  font-size: 22px;
  font-family: "Syncopate", sans-serif;
  color: #A64D79; }
  .skills-list li {
    font-size: 18px;
    margin-bottom: 8px;
    list-style: none; }
    .skills-list li:first-child {
      margin-top: 20px; }

@media (max-width: 700px) {
  .tech-skills-container {
    margin-top: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .skills-list {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
@media (max-width: 900px) {
  .tech-skills-container {
    width: 90vw; } }
.contact-main {
  margin: 12vh auto 0 auto;
  padding-bottom: 6vh;
  width: 275px;
  margin-left: auto;
  margin-right: auto; }

.contact-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px; }
  .contact-wrapper img {
    width: 30px;
    height: 30px;
    margin-right: 20px; }
  .contact-wrapper p {
    font-size: 18px; }
    .contact-wrapper p a {
      text-decoration: none; }
      .contact-wrapper p a:hover {
        color: #A64D79; }

.resume-link {
  display: inline-block;
  width: 45%;
  text-decoration: none;
  color: #A64D79;
  font-size: 16px;
  font-weight: bolder;
  margin-right: 10px; }

@media (max-width: 800px) {
  .contact-main {
    margin-top: 35px; } }
* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro";
  color: #2D3136; }

main {
  width: 100%; }

.initials {
  height: 80px;
  width: 80px;
  margin: 8px 45px 0 50px; }

nav {
  height: 10vh;
  width: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  z-index: 300;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }
  nav a {
    color: #2D3136;
    text-decoration: none;
    font-family: "Source Sans Pro";
    font-size: 30px;
    margin: 0 23px 0 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  nav #menu-button {
    border: none;
    background: white; }

.menu-img {
  display: none; }

.menu-dropdown {
  display: none; }

.slider {
  overflow-y: hidden;
  max-height: 140px;
  /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

.slider.closed {
  max-height: 0; }

section {
  width: 100%;
  background-color: #ffffff;
  color: #2D3136; }

.sub-title-container {
  display: flex;
  flex-direction: column; }

.anchor {
  padding-top: 85px; }

.sub-title {
  width: 100%;
  text-align: center;
  font-size: 70px;
  color: #A64D79;
  font-family: "Syncopate", sans-serif;
  font-weight: lighter; }

hr {
  width: 40%;
  margin: 0 auto 0 auto;
  height: 1px;
  background-color: #41474C; }

.scroll-bar {
  width: 100%;
  height: 70px;
  background-color: #41474C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clear: both; }
  .scroll-bar .scroll-down {
    width: 70px;
    height: 70px; }

.scroll-bar-blue {
  background-color: #ffffff; }

footer {
  width: 100%;
  height: 5vh; }

@media (max-width: 680px) {
  nav > a:not(.initials-link) {
    font-size: 22px; }

  hr {
    width: 325px; }

  .sub-title {
    font-size: 60px; }

  .anchor {
    padding-top: 85px; } }
@media (max-height: 500px) {
  header {
    height: 65px; } }
@media (max-width: 600px) {
  nav {
    justify-content: space-between; }
    nav a:not(.initials-link) {
      display: none; }
    nav .initials-link {
      margin: 0; }

  .initials {
    margin: 8px 0 0 0; }

  #menu-button {
    width: 40px;
    height: 40px;
    margin-right: 10px; }

  .menu-img {
    display: block;
    background: none;
    border: none;
    background: white;
    height: 40px;
    width: 40px;
    margin: 0; }

  .menu-dropdown {
    display: block;
    position: fixed;
    top: 70px;
    right: 0;
    list-style: none;
    text-align: right;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 250; }
    .menu-dropdown li {
      margin: 5px 10px 5px 10px;
      font-size: 22px; }
      .menu-dropdown li a {
        text-decoration: none; }

  .sub-title {
    font-size: 50px; } }

/*# sourceMappingURL=input.css.map */
