.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  height: 90vh; }

.home-title {
  font-size: 110px;
  font-family: "Syncopate";
  margin-top: 45px;
  color: #A64D79;
  text-align: center; }

.home-sub-title {
  margin-top: 25px;
  font-size: 45px;
  color: #2D3136; }

@media (max-width: 1200px) {
  .home-title {
    font-size: 90px; } }
@media (max-width: 600px) {
  .home-title {
    font-size: 70px; }

  .home-sub-title {
    font-size: 30px;
    color: #2D3136; } }
.about-text-container {
  width: 70%;
  margin: 12vh auto 0 auto;
  padding-bottom: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.profile-pic {
  width: 220px;
  height: 220px;
  border-radius: 50%; }

.about-text {
  width: 65%;
  line-height: 1.5em;
  font-size: 20px;
  text-align: justify; }

@media (max-width: 800px) {
  .about-text-container {
    flex-direction: column;
    align-items: center; }

  .about-text {
    width: 95%;
    margin-top: 10px; } }
.projects-container {
  margin: 0 auto 0 auto;
  padding-bottom: 6vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.project-div {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title {
  font-size: 50px;
  color: #2D3136;
  font-family: "Syncopate"; }

.line {
  width: 400px;
  height: 1px;
  background-color: #eeeeee;
  margin: 5px 0 15px; }

.image-container {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.project-image {
  margin-top: 15px;
  width: 900px;
  border-radius: 4px; }

.first .image-container img {
  width: 350px;
  margin-left: 20px;
  margin-right: 20px; }

iframe {
  margin-top: 3em;
  width: 600px;
  height: 340px; }

.tech-links-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: flex-end; }

.tech {
  margin-right: 1em;
  font-size: 18px;
  width: 95%; }

.blurb {
  width: 600px;
  text-align: justify;
  margin-top: 1em;
  font-size: 18px; }

.project-link {
  text-decoration: none; }
  .project-link .icon {
    width: 30px;
    height: 30px;
    margin-right: 8px; }

@media (max-width: 1200px) {
  .project-div {
    margin-top: 40px; } }
.tech-skills-container {
  width: 95vw;
  margin: 12vh auto 0 auto;
  padding-bottom: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.list {
  font-size: 25px;
  color: #A64D79; }
  .list li {
    font-size: 18px;
    margin-bottom: 8px;
    list-style: none; }
    .list li:first-child {
      margin-top: 20px; }

.contact-main {
  margin: 12vh auto 0 auto;
  padding-bottom: 6vh;
  width: 300px;
  margin-left: auto;
  margin-right: auto; }

.contact-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px; }
  .contact-wrapper img {
    width: 30px;
    height: 30px;
    margin-right: 20px; }
  .contact-wrapper p {
    font-size: 18px; }
    .contact-wrapper p a {
      text-decoration: none; }
      .contact-wrapper p a:hover {
        color: #A64D79; }

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro";
  color: #2D3136; }

main {
  width: 100%; }

header {
  width: 100%;
  height: 10vh;
  background: #eeeeee;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header .initials {
    font-size: 40px;
    text-decoration: none;
    color: #A64D79;
    font-family: "Syncopate";
    margin-left: 60px;
    margin-right: 45px; }

nav {
  position: relative;
  margin-left: auto;
  margin-right: auto; }
  nav a {
    color: #2D3136;
    text-decoration: none;
    font-family: "Source Sans Pro";
    font-size: 30px;
    margin-left: 30px; }

section {
  width: 100%;
  background-color: #eeeeee;
  color: #2D3136; }

.section-line {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background-color: #eeeeee;
  margin-top: 25px; }

.sub-title-container {
  display: flex;
  flex-direction: column; }

.anchor {
  padding-top: 65px; }

.sub-title {
  width: 100%;
  text-align: center;
  font-size: 90px;
  color: #A64D79;
  font-family: "Syncopate"; }

.scroll-bar {
  width: 100%;
  height: 70px;
  background-color: #41474C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clear: both; }
  .scroll-bar .scroll-down {
    width: 70px;
    height: 70px; }

.scroll-bar-blue {
  background-color: #eeeeee; }

footer {
  width: 100%;
  height: 5vh;
  background-color: #5A76E8; }

@media (max-width: 680px) {
  nav > a:not(.initials) {
    display: none; } }
@media (max-height: 500px) {
  header {
    height: 70px; } }

/*# sourceMappingURL=input.css.map */
