$dark-grey: #2D3136;
$med-grey: #41474C;
$off-white: #ffffff;
$maroon: #A64D79;
$font-basic: 'Source Sans Pro';
$font-fancy: 'Syncopate', sans-serif;

@import 'sass-partials/home';
@import 'sass-partials/about';
@import 'sass-partials/projects';
@import 'sass-partials/skills';
@import 'sass-partials/contact';

* {
  padding: 0;
  margin: 0;
  font-family: $font-basic;
  color: $dark-grey;
}

main {
  width: 100%;
}

header {
  width: 100%;
  height: 10vh;
  background: $off-white;
  position: fixed;
  top: 0;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initials {
  height: 80px;
  width: 80px;
  margin: 8px 45px 0 45px;
}

nav {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  a {
    color: $dark-grey;
    text-decoration: none;
    font-family: $font-basic;
    font-size: 30px;
    margin: 0 23px 0 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

section {
  width: 100%;
  background-color: $off-white;
  color: $dark-grey;
}

.sub-title-container {
  display: flex;
  flex-direction: column;
}

.anchor {
  padding-top: 85px;
}

.sub-title {
  width: 100%;
  text-align: center;
  font-size: 70px;
  color: $maroon;
  font-family: $font-fancy;
  font-weight: lighter;
}

hr {
  width: 40%;
  margin: 0 auto 0 auto;
  height: 1px;
  background-color: $med-grey;
}

.scroll-bar {
  width: 100%;
  height: 70px;
  background-color: $med-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clear: both;

  .scroll-down {
    width: 70px;
    height: 70px;
  }
}

.scroll-bar-blue {
  background-color: $off-white;
}

 footer {
   width: 100%;
   height: 5vh;
 }

@media (max-width:680px){
  nav > a:not(.initials-link) {
    display: none;
  }
  hr {
    width: 325px;
  }
  .sub-title {
    font-size: 53px;
  }
}
@media (max-height:500px){
  header {
    height: 70px;
  }
}
