$med-blue: #5A76E8;
$bright-blue: #6382FF;
$dark-grey: #2D3136;
$med-grey: #383D42;
$med-grey: #41474C;
$off-white: #eeeeee;
$salmon: #FF606F;
$maroon: #A64D79;
$font-basic: 'Source Sans Pro';
$font-fancy: 'Syncopate';

@import 'sass-partials/home';
@import 'sass-partials/about';
@import 'sass-partials/projects';
@import 'sass-partials/skills';
@import 'sass-partials/contact';

* {
  padding: 0;
  margin: 0;
  font-family: $font-basic;
  color: $dark-grey;
}

main {
  width: 100%;
}

header {
  width: 100%;
  height: 10vh;
  background: $off-white;
  // background: rgba(90, 118, 232, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .initials {
    font-size: 40px;
    text-decoration: none;
    color: $maroon;
    // background-color: $off-white;
    font-family: $font-fancy;
    margin-left: 60px;
    margin-right: 45px;
    // border-radius: 50%;
    // padding: 12px;
  }
}

nav {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  a {
    color: $dark-grey;
    text-decoration: none;
    font-family: $font-basic;
    font-size: 30px;
    margin-left: 30px;
  }
}

section {
  width: 100%;
  background-color: $off-white;
  color: $dark-grey;
}

.section-line {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background-color: $off-white;
  margin-top: 25px;
}

.sub-title-container {
  display: flex;
  flex-direction: column;
}

.anchor {
  padding-top: 65px;
}

.sub-title {
  width: 100%;
  text-align: center;
  font-size: 90px;
  color: $maroon;
  font-family: $font-fancy;
}

.scroll-bar {
  width: 100%;
  height: 70px;
  background-color: $med-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clear: both;

  .scroll-down {
    width: 70px;
    height: 70px;
  }
}

.scroll-bar-blue {
  background-color: $off-white;
}

 footer {
   width: 100%;
   height: 5vh;
   background-color: $med-blue;
 }

@media (max-width:680px){
  nav > a:not(.initials) {
    display: none;
  }
}
@media (max-height:500px){
  header {
    height: 70px;
  }
}
