<div class="sub-title-container">
  <a class="anchor" name="about"></a>
  <h2 class="sub-title about-title">About</h2>
  <hr />
</div>
<div class="about-text-container">
  <img class="profile-pic" src="../assets/images/kendra.jpg" />
  <p class="about-text">
    Through studying classical piano for many years I have learned the value of
    dedicated practice, mastering techniques, and devotion to detail. I apply
    the same mindset to coding with a diligent but playful and creative spirit,
    and a thirst for new challenges! I love being part of a community that shares
    ideas and works together to create amazing products, and I’m looking
    to join a team that values agile collaboration and continual learning.
  </p>
</div>
