<div class="sub-title-container">
  <a class="anchor" name="contact"></a>
  <h2 class="sub-title contact-title">Contact</h2>
  <div class="section-line"></div>
</div>
<div class="contact-main">
  <div class="contact-wrapper">
    <img class="email" src="../images/envelope.svg" />
    <p class="email-text">
      <a href="mailto:kendralyndon@gmail.com">kendralyndon@gmail.com</a>
    </p>
  </div>
  <div class="contact-wrapper">
    <img class="linkedin" src="../images/linkedin-logo.svg" />
    <p class="linkedin-text">
      <a href="https://www.linkedin.com/in/kendralyndon">linkedin.com/in/kendralyndon</a>
    </p>
  </div>
  <div class="contact-wrapper">
    <img class="github" src="../images/github-logo.svg" />
    <p class="github-text">
      <a href="https://github.com/KendraLyndon">github.com/KendraLyndon</a>
    </p>
  </div>
</div>
