<div class="sub-title-container">
  <a class="anchor" name="projects"></a>
  <h2 class="sub-title projects-title">Projects</h2>
  <hr />
</div>
<div class="projects-container">
  <div ng-repeat="project in vw.projects" ng-class="{'first':$first}" class="{{project.name}} project-div">
    <div class="project-info">
      <h3 class="title">{{project.name}}</h3>
      <div>
        <p class="blurb">
          {{project.blurb}}
        </p>
        <p class="tech">
          {{project.tech}}
        </p>
        <a ng-show="project.liveLink != null" class="project-link" href={{project.liveLink}}>
          project link
        </a>
        <a ng-show="project.gitHub != null" class="project-link" href={{project.gitHub}}>
          github repo
        </a>
      </div>
    </div>
    <div class="image-container">
      <img ng-show="project.first === true" class="phone-img" src="../assets/images/samsung-galaxy.jpg" alt="samsung"/>
      <img ng-repeat="image in project.images" class="project-image" id="pic-{{project.name}}" src={{image}} />
    </div>
  </div>
</div>
