<div class="sub-title-container">
  <a class="anchor" name="skills"></a>
  <h2 class="sub-title skills-title">Skills</h2>
  <hr />
</div>
<div class="tech-skills-container">
  <ul class="skills-list languages">Languages
    <li>JavaScript</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Java</li>
  </ul>
  <ul class="skills-list tools">Tools
    <li>AngularJS</li>
    <li>Node.js</li>
    <li>Express</li>
    <li>PostgreSQL</li>
    <li>Android Studio</li>
    <li>XML</li>
    <li>SASS</li>
    <li>jQuery</li>
    <li>Mocha + Chai</li>
    <li>Pivotal Tracker</li>
  </ul>
  <ul class="skills-list techniques">Techniques
    <li>Object Oriented Programming</li>
    <li>Functional Programming</li>
    <li>Agile Development</li>
    <li>Pair Programming</li>
    <li>Responsive Design</li>
  </ul>
  <ul class="skills-list other">Other
    <li>Classical Piano</li>
    <li>Bouldering</li>
    <li>Foosball</li>
  </ul>
</div>
